.button {
    padding: 10px 35px;
    font-size: small;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 7px;
}

.button.light-orange-button {
    color: #f86011;
    background-color: #FFE7DA;

    &:hover {
        color: white;
        background-color: #f86011;
    }
}

.button.white-button {
    color: black;
    background-color: #ffffff;

    &:hover {
        color: white;
        background-color: transparent;
        border: 2px solid white;
    }
}

.button.orange-button {
    color: white;
    background-color: #f86011;

    &:hover {
        color: #f86011;
        background-color: transparent;
        border: 2px solid #f86011;
    }
}