// main 1

.my-container {

    .content {

        & .content-img {
            max-width: 500px;
        }

        & .scope-img {
            max-width: 40px;
        }

        &:first-child {
            padding-top: 100px;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            & .col {
                text-align: end;
            }
        }

        &:last-child {
            padding-bottom: 100px;
        }
    }
}

// main 2

.brands {
    max-width: 100px;
}

.cta-container {
    margin-bottom: 150px;
}

// main 3

.case-studies {
    max-width: 280px;
}

.img-container {
    position: relative;

    .gradient {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(248, 96, 17, 1) 100%);
        opacity: 0;
        transition: all .3s ease;
    }

    &:hover {
        .gradient {
            opacity: 0.5;
        }
    }
}

// main 4

img {
    &.award {
        width: 150px;
    }

    &[src*="award-a"] {
        filter: invert(100%);
    }

    &[src*="award-c"] {
        filter: hue-rotate(335deg) saturate(150%);
    }

    &[src*="award-d"] {
        filter: hue-rotate(220deg) saturate(150%);
    }
}