.my-container .content:first-child {
    padding-top: 100px;
}

.my-container .content:nth-child(even) {
    flex-direction: row-reverse;

    & .col {
        text-align: end;
    }
}

.content {

    & .content-img {
        max-width: 500px;
    }

    & .scope-img {
        max-width: 40px;
    }
}